<a href="https://colab.research.google.com/github/Anush-Amin/ineuron/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. What exactly is []?**

The [] represents an empty list

In [ ]:
l = []
type(l)

list

**2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)**

In [ ]:
spam = [2,4,6,8,10]
spam[2] = 'hello'
print(spam)

[2, 4, 'hello', 8, 10]

The indexing starts from 0. Hence third element will have 2 as index value

**Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.**

In [ ]:
spam = ['a', 'b', 'c', 'd']

**3. What is the value of spam[int(int('3' * 2) / 11)]?**

I will break down the expression to see the values individually

In [ ]:
a1 = '3' * 2
a1

'33'

In [ ]:
a2 = int(a1)/11
a2

3.0

In [ ]:
a3 = int(a2)
a3

3

In [ ]:
spam[a3]

'd'

**4. What is the value of spam[-1]?**

In [ ]:
spam[-1]

'd'

The indexing in forward order starts from 0. For indexing in reverse order index value starts from -1.

**5. What is the value of spam[:2]?**

In [ ]:
spam[:2]

['a', 'b']

This performs the list slicing from first element which is at index 0 till value at 2 index excluding that value.

**Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.**

In [ ]:
bacon = [3.14, 'cat', 11, 'cat', True]

**6. What is the value of bacon.index('cat')?**

In [ ]:
bacon.index('cat')

1

The above code gives the index value of first appearance of 'cat' in bacon list

**7. How does bacon.append(99) change the look of the list value in bacon?**

In [ ]:
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

append function add the value 99 at the end of the list bacon

**8. How does bacon.remove('cat') change the look of the list in bacon?**

In [ ]:
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True, 99]

remove function removes the first appearance of the element 'cat' in the list bacon

**9. What are the list concatenation and list replication operators?**

List concatenation is used to combine two or more list. The '+' operator is used for list concatenation.

In [ ]:
first_list = [1, 2, 3, 'a', 'b', 'c']
second_list = [4, 5, 6, 'd', 'e', 'f']
print(first_list + second_list)

[1, 2, 3, 'a', 'b', 'c', 4, 5, 6, 'd', 'e', 'f']

List replication is used to replicate the list by multipling it with the number of int type. The '*' operator is used for list replication.

In [ ]:
first_list = [1, 2, 3, 'a', 'b', 'c']
print(first_list*3)

[1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c']

**10. What is difference between the list methods append() and insert()?**

apppend() method is used to add the element at the the end of the list

In [ ]:
first_list = [1, 2, 3, 'a', 'b', 'c']

In [ ]:
first_list.append("Appended element")
first_list

[1, 2, 3, 'a', 'b', 'c', 'Appended element']

insert() method is used to add the element at specific index in the list

In [ ]:
first_list.insert(1, "Inserted element")
first_list

[1, 'Inserted element', 2, 3, 'a', 'b', 'c', 'Appended element']

**11. What are the two methods for removing items from a list?**

remove() method is used to remove the first appearance of the element in the list

In [ ]:
l1 = [1, 2, 3, 4, 5, 6, 5, 4, 3, 2, 1]

In [ ]:
l1.remove(3)
l1

[1, 2, 4, 5, 6, 5, 4, 3, 2, 1]

pop() method is used to remove an element from a list at a specified index and will return the removed element

In [ ]:
# To pop element at index 2
l1.pop(2)

4

In [ ]:
l1

[1, 2, 5, 6, 5, 4, 3, 2, 1]

In [ ]:
# if index is not specified it will pop the last element
l1.pop()

1

In [ ]:
l1

[1, 2, 5, 6, 5, 4, 3, 2]

**12. Describe how list values and string values are identical.**

1. Indexing: Both lists and strings support indexing which allows you to access individual elements based on their index. You can use square brackets ([]) with an index to retrieve specific elements.

In [ ]:
string_example = "Assignment4"
print(string_example)
list_example = list(string_example)
print(list_example)

Assignment4
['A', 's', 's', 'i', 'g', 'n', 'm', 'e', 'n', 't', '4']

In [ ]:
print(string_example[0])
print(list_example[0])

A
A

2. Slicing: Both lists and strings support slicing, which allows you to extract slices from the original sequence. Slicing is done using the colon (:) notation.

In [ ]:
print(string_example[0:5])
print(list_example[0:5])

Assig
['A', 's', 's', 'i', 'g']

3. Iteration: You can iterate over both lists and strings using loops or comprehensions to access each element one by one.

In [ ]:
# iterating in string
for i in string_example:
  print(i, end=', ')

A, s, s, i, g, n, m, e, n, t, 4,

In [ ]:
# iterating in list
for i in list_example:
  print(i, end=', ')

A, s, s, i, g, n, m, e, n, t, 4,

**13. What's the difference between tuples and lists?**

The elements in the list is given inside the square bracket [], whereas elements in the tuplle os given inside parentheses ().

List is mutable which means we can add or remove element from the list, whereas tuple is immutable which means we cannot add or remove elements from the tuple

**14. How do you type a tuple value that only contains the integer 42?**

In [ ]:
tuple_42 = (42,)
print(tuple_42)
print(type(tuple_42))

(42,)
<class 'tuple'>

The 42 is followed by a comma because if we just define tuple_42 = (42) it will not be recognised as tuple rather it will be of type int. Hence comma should be used if we are declaring a tuple with single element

In [ ]:
tuple_42_1 = (42)
print(type(tuple_42_1))

<class 'int'>

**15. How do you get a list value's tuple form? How do you get a tuple value's list form?**

We can get list values tuple form and tuple values list form using type-casting

In [ ]:
# list values tuple form
list1 = [1, 2, 3, 'a', 'b', 'c']
tuple_of_list1 = tuple(list1)
print(tuple_of_list1)

(1, 2, 3, 'a', 'b', 'c')

In [ ]:
# tuple values list form
tuple1 = (4, 5, 6, 'd', 'e', 'f')
list_of_tuple1 = list(tuple1)
print(list_of_tuple1)

[4, 5, 6, 'd', 'e', 'f']

**16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?**

Didnot understand question

**17. How do you distinguish between copy.copy() and copy.deepcopy()?**

copy.copy() creates a shallow copy of original_list. Modifying an element within the copied list affects both the copied list and the original list.

copy.deepcopy() creates a deep copy of original_list. Modifying an element within the deep-copied list  only affects the deep-copied list and does not modify the original list.