<a href="https://colab.research.google.com/github/Anush-Amin/ineuron/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. **In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.**

*

**'hello'**

**-87.8**

**-**

**/**

**+**

**6**

values: 'hello', -87.8, 6

expressions: *, -, /, +

**2. What is the difference between string and variable?**

String is a datatype used for textual values and it should be given inside single or double quotes.

Ex: “Hello World”, “1234”

The above example is of datatype string. We can check the datatype using type() function

Variable is used to store the values of different datatypes

Ex: var1 = “Hello World”

Here var1 is a variable which stores string value

**3. Describe three different data types.**

The three different datatypes are:
*   int: int is a numeric datatype used for integer values. Integer values are positive and negative whole number. Since python is a dynamically typed language there is no need to define the datatype while declaring the variable. But for typecasting int() is used.

Ex: a = 3, b = -5, c = int(“100”)
*   float: float is a numeric datatype used for floating point values. Floating point values are positive and negative decimal values.

Ex: a = 5.62, b = -8.9574, c = float(“9.6547”)
* str:  String is a data type which contains sequence of characters enclosed between single or double quotes.

Ex: str_1 = “This is a string”, str_2 = “1234”

**4. What is an expression made up of? What do all expressions do?**

Expression is made up of operators and operands. Operators are special symbols which helps to perform operation of operands. The expressions perform mathematical, logical, concatenation, comparison operations.

Ex: exp1 = 2 + 3

In the above expression 2 and 3 are operands and + is operator. This expression is used to perform mathematical operation (addition)

exp2 = “Data” + “Science”

In the above expression “Data” and “Science” are operands and + is operator. This expression is used to perform concatenation operation. The result will be “DataScience”.

The values can also be defined in a variable and can be used in expression.

Ex: a = 5

b = 10

c = a + b

This will give 15 as output if c is printed, because datatypes of 'a' and 'b' are int and it will perform mathematical operation

**5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?**

Expression is used to perform operations, but statement is used for assignment.

**6. After running the following code, what does the variable bacon contain?**

**bacon = 22**

**bacon + 1**

In [1]:
bacon = 22
bacon + 1
print(bacon)

22

after running the following code, bacon contains 22 as value.

The value of bacon is increased by 1 in the 2nd line of code. But it's not assigned to variable hence value doesn't change for bacon. To increase the value of bacon by 1 use below expression:

bacon = bacon + 1

**7. What should the values of the following two terms be?**

**'spam' + 'spamspam'**

**'spam' * 3**

In [2]:
'spam' + 'spamspam'

'spamspamspam'

In [3]:
'spam' * 3

'spamspamspam'

'spam' + 'spamspam' gives ‘spamspamspam’ since it performs concatenation operation

'spam' * 3 gives ‘spamspamspam’ since it performs string repetition operation

**8. Why is eggs a valid variable name while 100 is invalid?**

There are set of rules defined for variable name. They are:

* The variable name should contain only letters, numbers or under-score

* The variable name should strictly start with either with a letter or under-score

* Reserved keyword cannot be used as a variable

eggs is a valid variable since it holds good with the above set of rules. Since 100 starts with a number it's not a valid variable

**9. What three functions can be used to get the integer, floating-point number, or string version of a value?**

Three functions used to get the integer, floating-point number, and string version of a value are int(), float() and str() respectively.

**10. Why does this expression cause an error? How can you fix it?**

**'I have eaten ' + 99 + ' burritos.'**

In [6]:
'I have eaten ' + 99 + ' burritos.'

TypeError: ignored

The above expression is trying to perform concatenation operation but throws a runtime error because integer cannot be used to perform concatenation.

To fix the error, we need to convert 99 to string by typecasting which can be done as follows:

'I have eaten ' + '99' + ' burritos.'

In [7]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'