<a href="https://colab.research.google.com/github/Anush-Amin/ineuron/blob/main/Assignment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q.1. What are keywords in python? Using the keyword library, print all the python keywords.**

Keywords are reserved words used for different purposes. Keywords cannot be used as identifiers. Keywords are case sensitive.

In [ ]:
import keyword as k

kw = k.kwlist

print(kw)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

**Q.2. What are the rules to create variables in python?**



1.   The variable can contain letters, numbers or underscore(_)
2.   The variable should strictly start with letter or underscore(_)
3.   Keywords cannot be used as a variable name
4.   Special character apart from that of underscore cannot be used in variable name

Valid variable name:


*   num1
*   variable_name
*   _variable

Invalid variable name:


*   1variable
*   False
*   *variable

**Q.3. What are the standards and conventions followed for the nomenclature of variables in
python to improve code readability and maintainability?**



1.   The variable name should be such that it gives a sense of what is stored in it.
2.   If two words has to be present in variable name then separate them with underscore (snake case)
3. Keywords should not be used for variable names
4. Prevent using just a character for variable name, instead use a descriptive name

**Q.4. What will happen if a keyword is used as a variable name?**

In [ ]:
False = 10

SyntaxError: ignored

If keyword is used as variable name it will throw a Synatx Error

**Q.5. For what purpose def keyword is used?**

The def keyword is used to define the function. The def keyword followed by function_name is used and content inside (block of code) will be indented.

In [ ]:
def my_function():
  print("This is my function")

my_function()

This is my function

**Q.6. What is the operation of this special character ‘\’?**


1.   Special character ‘\’ is used to continue the code into next line

In [ ]:
example = "This "+\
          "is "+"a "+\
          "good "+\
          "day"
print(example)

This is a good day

2.  Special character ‘\’ is used as a escape characters in a string. If we want to include single quote or double quote in a string we can use \. Also we can include \ in a string.

In [ ]:
v1 = "In this string \"double quotes\" is used"
print(v1)

In this string "double quotes" is used

3. Special character ‘\’ is used with characters n, t etc to create special functionality like newline, tab etc

In [ ]:
new_line = "This is line 1\nThis is line 2"
print(new_line)
tab = "Before tab\tAfter tab"
print(tab)

This is line 1
This is line 2
Before tab	After tab

**Q.7. Give an example of the following conditions:
(i) Homogeneous list
(ii) Heterogeneous set
(iii) Homogeneous tuple**

Homogeneous contains elements of same datatypes.
Heterogeneous contains elements of different dataypes.

In [ ]:
# Homogeneous list
homo_list = [1, 2, 3, 4]
print(homo_list)

# Heterogeneous list
het_list = [1, 'a', True, [2, 3]]
print(het_list)

# Homogeneous tuple
homo_list = ['a', 'b', 'cd']
print(homo_list)

[1, 2, 3, 4]
[1, 'a', True, [2, 3]]
['a', 'b', 'cd']

**Q.8. Explain the mutable and immutable data types with proper explanation & examples.**

In mutable datatypes values can be changed once its created. Mutable datatypes are list, set, dictionary. There are different functions available in these datatypes to remove or add the values.

In [ ]:
l = [1, 2, 3, 4]
# add 5 into the above list
l.append(5)
print(l)

# add 6 and 7 into the list
l.extend([6, 7])
print(l)

# remove 3 from the list
l.remove(3)
print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 4, 5, 6, 7]

In immutable datatypes values cannot be changed once it created. Some of the Immutable datatypes are string, tuple.

In [ ]:
t = (1, 2, 3, 4)

# In the above tuple values cannot be changed once it created
# but values can be added by declaring new variable
t_new = t + (5, 6)
print(t_new)

(1, 2, 3, 4, 5, 6)

**Q.9. Write a code to create the given structure using only for loop.**

![image.png]()

In [ ]:
n = 5
for row in range(0, n):
  print(" " * (n-row-1), end="")
  print("*" * (row*2+1))

    *
   ***
  *****
 *******
*********

**Explanation:**

n=5

**To print "*":**

My range in for loop will be range(0, n) hence first row is 0.	
row=0, count=1 i.e., (0 * 2 + 1)

row=1, count=3 i.e., (1 * 2 + 1)

row=2, count=5 i.e., (2 * 2 + 1)

row=3, count=7 i.e., (3 * 2 + 1)

row=4, count=9 i.e., (4 * 2 + 1)

Hence formula for printing " * " will be: " * " * (row * 2 + 1)

**To print spaces**

row=0 there are 4 spaces before*: (5 - 0 - 1)

row=1 there are 3 spaces before*: (5 - 1 - 1)

row=2 there are 2 spaces before*: (5 - 2 - 1)

row=3 there are 1 spaces before*: (5 - 3 - 1)

row=4 there are 0 spaces before*: (5 - 4 - 1)

Hence formula for printing " " will be: " " * (n - row -1)

**Q.10. Write a code to create the given structure using while loop.**

![image.png]()

In [ ]:
r = 5
for row in range(r):
  print(" "*row,end="")
  print("|"*((r*2)-(2*row+1)))

|||||||||
 |||||||
  |||||
   |||
    |

**Explanation:**

r=5

**To print "|":**

My range in for loop will be range(0, r) hence first row is 0.	
row=0, count=9 i.e., (5 * 2)-(2 * 0 + 1)

row=1, count=7 i.e., (5 * 2)-(2 * 1 + 1)

row=2, count=5 i.e., (5 * 2)-(2 * 2 + 1)

row=3, count=3 i.e., (5 * 2)-(2 * 3 + 1)

row=4, count=1 i.e., (5 * 2)-(2 * 4 + 1)

Hence formula for printing "|" will be: "|" * (r * 2)-(2 * row + 1)

This will give below output

|||||||||	
|||||||	   	
|||||			
|||			
|	

**To print spaces**

row=0 there are 0 spaces before*

row=1 there are 1 spaces before*

row=2 there are 2 spaces before*

row=3 there are 3 spaces before*

row=4 there are 4 spaces before*

Hence formula for printing " " will be: " " * row